.new-expense__controls{
    margin-top: 2.25rem;
    padding: 3.25rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.new_expense__control label {
    padding: 0.75rem;
    
}
